body {
	margin:0;
	padding:0;
	overflow: hidden;
	border:0;
}
			
#container {
	background: #000;
	display:block;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
}

#hud {	
	background: Black;
	color:white;
	font-weight:bold;
	display:block;
	position: absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
}

.progress-bar-wrapper {
	border-color:white;
	border-width:1px;
	border-style:solid;
}

.progress-bar {
	background-color:white;
	height:25px;
}

.ting-loader {
	margin: 150px auto;
	width:500px;
	height:400px;
}


#container  canvas {
	padding:0;
}
