body {
	margin:0;
	padding:0;
	overflow: hidden;
	border:0;
}
			
#container {
	background: #000;
	display:block;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
}

#container  canvas {
	padding:0;
}

#hud {	
	background: Black;
	color:#d6d6d6;
	font-weight:bold;
	display:block;
	position: absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
}

/* 
	LOADER
*/	

#ting-loader {
	margin: 25px auto;	
	text-align:center;
}

#ting-loader .title-image {
	margin:auto;
}

#ting-loader .item-table {
	margin:25px auto;
	clear:both;
}

#ting-loader .item-table  .item-name {
	width: 450px;
}

#ting-loader .vanish {
	width:500px;
	margin:auto;
}

#ting-loader .item-table  .item-state {
	width: 50px;
}

#ting-loader .item-table td {
	padding:5px;
	margin: 1px;
	background-color: #0E0E0E;
}

#ting-loader .progress-bar-wrapper {
	border-color:#d6d6d6;
	border-width:1px;
	border-style:solid;
}

#ting-loader .progress-bar {
	background-color:#d6d6d6;
	height:25px;
}

#ting-loader .ok-button {
	background-color:#0E0E0E;
	color:#d6d6d6;
	width: 150px;
	padding: 25px;
	margin:10px auto 50px auto;
	text-align:center;
	display:none;
	cursor:pointer;
}